@model Tragate.UI.Models.Company.CompanyTaskListViewModel

<style>
    table tr td {
        text-align: center;
    }
</style>


<script src="~/assets/app-js/company-task-inside.js" asp-append-version="true"></script>

<table class="table">
    <thead>
        <tr>
            <th>Görev</th>
            <th>Görev Tipi</th>
            <th>Ekleyen Kullanıcı</th>
            <th>Sorumlu Kullanıcı</th>
            <th>Tarihi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CompanyTaskList)
        {
            <tr>
                <td>@item.Description</td>
                <td>@item.CompanyTaskType</td>
                <td>@item.CreatedUser</td>
                <td>@item.ResponsibleUser</td>
                <td>@item.CreatedDate.ToString("dd.MM.yyyy")</td>
                <td>
                    <button class="btn btn-danger btn-xs" onclick="DeleteTask(@item.Id,@Model.CompanyId)">
                        <i class="fa fa-trash"></i> Sil
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<cs-pager cs-paging-pagesize="5"
          cs-paging-pagenumber="@Model.PageNumber"
          cs-paging-totalitems="@Model.TotalCount"
          cs-pagenumber-param="page"
          asp-controller="Company"
          asp-action="GetCompanyTasks"></cs-pager>