@model Tragate.UI.Models.Company.CompanyDataListViewModel
@{ ViewData["Title"] = "Firma Transfer"; }

<hr />
<div class="col-lg-12">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Transfer</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="scroll_content">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-actions no-color">
                                <div id="custom-search-input">
                                    <div class="input-group col-md-12">
                                        <input type="text" id="txtSearch" value="@Model.SearchKey" class="form-control" placeholder="Firmalarda Ara">
                                        <span class="input-group-btn">
                                            <button id="searchBtn">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                            </div>
                        </form>
                        <br />
                        <div class="panel panel-default">
                            <div class="row" style="padding: 5px;">
                                <div class="col-sm-3" style="float: right;">
                                    <div class="form-group">
                                        <label class="col-form-label" for="status">Durum</label>
                                        <select name="status" id="status" class="form-control">
                                            <option value="0" selected="">Hepsi</option>
                                            <option value="1">Yeni</option>
                                            <option value="2">Onay Bekliyor</option>
                                            <option value="3">Aktif</option>
                                            <option value="4">Silindi</option>
                                            <option value="5">Pasif</option>
                                            <option value="6">Transfer Edildi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>
                                            İşlemler
                                        </th>
                                        <th>
                                            Firma No
                                        </th>
                                        <th>
                                            Firma Ad
                                        </th>
                                        <th>
                                            Bulunduğu Ülke
                                        </th>
                                        <th>
                                            Üyelik
                                        </th>
                                        <th>
                                            Durum
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CompanyDataList)
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-rounded btn-white btn-sm update-lg"
                                                   data-url="companydata/edit-companydata/@item.Id" data-toggle="modal" data-title="Firma Bilgisi Onay Ekranı"
                                                   data-target="#updateModal-lg" title="Transfer Et">
                                                    <i class="glyphicon glyphicon-transfer"></i> Transfer Et
                                                </a>
                                            </td>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                <a href="@item.CompanyProfileLink" target="_blank">@item.Title</a>
                                            </td>
                                            <td>
                                                @item.Country
                                            </td>
                                            <td>
                                                @item.Membership
                                            </td>
                                            <td>
                                                @item.StatusId
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <cs-pager cs-paging-pagesize="10"
                                  cs-paging-pagenumber="@Model.PageNumber"
                                  cs-paging-totalitems="@Model.TotalCount"
                                  cs-pagenumber-param="page" ,
                                  asp-route-searchKey="@Model.SearchKey" ,
                                  asp-route-status="@Model.Status"
                                  asp-controller="CompanyData"
                                  asp-action="Index"></cs-pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_PopupTransfer")

@section Scripts {
    <script src="~/assets/app-js/companydata.js" asp-append-version="true"></script>
    <script src="~/assets/app-js/companydata-update.js" asp-append-version="true"></script>

    <link href="~/assets/css/custom-css/custom-search.css" rel="stylesheet" />

}